* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  

  
  
  .single-post {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    color: #023047;
    border-radius: 20px;
  }

  .post-buttons {
    margin-left: 10px;
  }

  .delete-button {
    color: red;
    border-color: red;
    font-weight: bold ;
  }