* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #219ebc;
}


h1 {
  display: flex;
  justify-content: center;
  color: #023047;
}

.new-post-search-bar {
  display: flex;
  justify-content: space-between;

}

.search-bar {
  margin-left: 10px;
}

.search-button {
  border: 2px #023047 solid;
  margin-left: 5px;
}

.new-post-button {
  border: 2px #023047 solid;
  padding: 3px;
  margin-right: 10px;
}
